<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="html" href="index.html">
    <title>Previously asked questions</title>
    <style>
    html {
      font-family: sans-serif;
    }

    table {
      border-collapse: collapse;
      border: 1px solid black;
      letter-spacing: 1px;
      font-size: 0.8rem;
      margin: auto;
      margin-top: 20px;
      margin-left: 100px;
      margin-right: 100px;
    }

    td, th {
      border: 0.5px solid black;
      padding: 10px 20px;
    }

    td {
      text-align: center;
    }

    caption {
      padding: 10px;
    }
    </style>
  </head>
  <body>
    <h1 class="text-center">Previously asked questions</h1>

    <table>
        <colgroup>
            <col style="background-color: #61AB97;">
            <col style="background-color: #61B6B3;">
            <col style="background-color: #61AB97;">
            <col style="background-color:#61B6B3;">
        </colgroup>
        
      <tr>
        <th>ID</th>
        <th>Crop name</th>
        <th>Description</th>
        <th>Image</th>
      </tr>
      {% for item in items %}
      {% set my_string = item[0] | string() + 'quest.jpg' %}
      <tr>
        <td><a href="http://localhost/app?doAction=showanswers&qid={{item[0]}}">{{ item[0] }}</a></td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
        <td class="secondHalf">
            <img src="{{ url_for('static',filename=my_string ) }}" alt="question image" class="imgFluid">  
        </td>        
        
      </tr>
      {% endfor %}
    </table>


  </body>
</html>